@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

html, body {
    width: 100vw;
    background-image:  url("./images/bg-intro-desktop.png");  
    background-color: #FF7978;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 84%;
    height: 750px;
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.header {
    width: 48%;
    height: 605px;
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.header h1 {
    margin-bottom: 10px;
    padding: 0;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    line-height: 55px;
}

.header p{ 
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 25px;
}

.registration {
    width: 48%;
    height: 605px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.registration .button-discount {
    width: 96.5%;
    height: 60px;
    margin-bottom: 30px;
    color: #FAF8FF;
    font-size: 1rem;
    letter-spacing: 1px;
    background: rgb(96, 95, 180);
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0px 8px 0px #DB6767;
    border: 0.1px solid rgb(56, 55, 122);
    outline: none;
}

.registration .button-discount:hover {
    background: rgb(73, 72, 155);
    font-weight: bold;
    border: 0.1px solid rgb(40, 39, 97);
    cursor: pointer;
    transition: all 2s, font-weight 0.5s;
}

button span {
    color: #FAF8FF;
    font-size: 1rem;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.form-registration {
    width: 96.5%;
    height: 478px;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 8px 0px #DB6767;
    box-sizing: border-box;
}

.form-registration form {
    width: 100%;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

form input {
    width: 82%;
    height: 55px;
    padding-left: 35px;
    margin-top: 20px;
    color: #46454A;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1.4px solid #E1E1E1;
    outline: none;
}

form input:first-child {
    margin-top: 40px;
}

form input:focus {
    color: #46454A;
    font-weight: bold;
    font-size: 0.9rem;
    border: 1.4px solid rgb(73, 72, 155);
    transition: all 0.5s;
}

input::-webkit-input-placeholder {
    color: rgb(123, 122, 128);
    font-weight: bold;
    font-size: 0.9rem;
}

input:focus::-webkit-input-placeholder {
    color: #46454A;
    font-weight: bold;
    font-size: 0.9rem;
}

.form-registration .button-form {
    width: 89%;
    height: 55px;
    margin: 20px auto;
    margin-bottom: 8px;
    display: block;
    font-size: 0.9rem;
    color: #FAF8FF;
    font-weight:600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    background: #37CC8A;
    border: 0.5px solid rgb(50, 177, 120);
    border-radius: 5px;
    box-shadow: 0px 3px 0px rgb(50, 177, 120);
    outline: none;
}

.form-registration .button-form:hover {
    font-weight:bold;
    letter-spacing: 0.5px;
    background: rgb(49, 173, 117);
    border: 0.5px solid rgb(43, 160, 107);
    box-shadow: 0px 3px 0px rgb(55, 195, 132);
    transition: all 2s;
    cursor: pointer;
}

.form-registration p {
    text-align: center;
    margin: 0;
    font-size: 0.7rem;
    font-weight: 400;
    color: rgb(200, 199, 209);
}

p span {
    color: #ED858A;
    font-weight: bold;
}

/* Responsive Design with Media Query´s */

@media screen and (max-width: 1000px) {
    html, body{
        width: 100vw;
    }
    .wrapper {
        width: 100%;
        margin-top: 30px;
        min-height:820px;
    }
    .header {
        width: 70%;
        height: 180px;
        text-align: center;
    }
    .header h1 {
        font: 0.8rem;
        text-align: center;
    }
    .header p {
        font-size: 1rem;
        margin-top: 0;
    }
    .registration {
        width: 70%;
    }
    .registration .button-discount {
        margin-bottom: 0px;
    }    
    .form-registration {
        align-items: center;
    }
    .form-registration p {
        padding: 0 20px;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 675px) {
    .header {
        width: 85%;
        height: 250px;
        align-items: center;
    }
    .header h1 {
        font-size: 2.6rem;
    }
    .registration {
        width: 85%;
    }
    .form-registration p {
        padding: 0 40px;
        font-size: 0.8rem;
    }
    .registration .button-discount,
    .registration span{
        font-size: 0.9rem;
    }
    .form-registration span {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 455px) {
    .header {
        width: 90%;
        height: 350px;
    }
    .header h1 {
        font-size: 1.5rem;
        line-height: 40px;
    }
    .header p {
        margin-bottom: 20px;
    }
    .registration {
        width: 90%;
    }
    .form-registration p {
        padding: 0 40px;
        font-size: 0.6rem;
    }
    form input {
        width: 75%;
    }
    .registration .button-discount,
    .registration span{
        font-size: 0.9rem;
    }
    .form-registration span {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 375px) {
    .wrapper{
        margin: 0;
        width: 100vw;
    }
    .header {
        width: 90%;
        height: 280px;
    }
    .header h1 {
        font-weight: 600;
    }
    .header p {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.8px;
    }
    .registration .button-discount {
        height: 85px;
        padding: 0 40px;
        line-height: 20px;
        font-size: 0.9rem;
        font-weight: 100;
    }
    .form-registration .button-form {
        font-size: 0.9rem;
        font-weight: 400;
    }    
}



