@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --primary-button: hsl(154, 59%, 51%);
    --secondary-button: hsl(248, 32%, 49%);
    --input-error: #F77D78;
    --input: hsl(246, 25%, 77%);
    --input-focus: hsl(249, 10%, 26%) ;
}

html, body {
    background-image:  url("./images/bg-intro-desktop.png");  
    background-color: #FF7978;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.wrapper {
    width: 84%;
    height: 46.875em;
    margin: 1.25em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.header {
    width: 48%;
    height: 37.8125em;
    margin: 1.25em;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}

.header h1 {
    margin-bottom: 0.625rem;
    padding: 0;
    font-size: 3rem;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    line-height: 3.4375rem;
}

.header p{ 
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5625em;
}

.registration {
    width: 48%;
    height: 37.8125em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.registration .button-discount {
    width: 96.5%;
    height: 3.75rem;
    margin-bottom: 1.875rem;
    color: #FAF8FF;
    font-size: 1rem;
    letter-spacing: 0.0625rem;
    background: var(--secondary-button);
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0px 0.5rem 0px #DB6767;
    border: 0.0063rem solid rgb(56, 55, 122);
    outline: none;
}

.registration .button-discount:hover {
    background: rgb(73, 72, 155);
    font-weight: bold;
    border: 0.1px solid rgb(40, 39, 97);
    cursor: pointer;
    transition: all 2s, font-weight 0.5s;
}

button span {
    color: #FAF8FF;
    font-size: 1rem;
    letter-spacing: 0.0313rem;
    font-weight: bold;
}

.cambiarColor {
    border: 5px solid red;
}


.form-registration {
    width: 96.5%;
    height: 34.0625rem;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 0.5rem 0px #DB6767;
    box-sizing: border-box;
}

.form-registration form {
    width: 100%;
    height: 23.75rem;
}

.form-registration form .area-error {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.area-error {
    position: relative;
}
.area-error i {
    position: absolute;
    color: var(--input-error);
    font-size: 1.6875rem;
    bottom: 1.125rem;
    right: 3.4375rem;
} 

.area-error p {
    position: absolute;
    text-align: right;
    margin: 0;
    color: var(--input-error);
    bottom: -1.0625rem;
    right: 1.875rem;
    font-size: 0.65rem;
    font-weight: 600;
    font-style: italic;
    text-align: right;
}

form input {
    width: 82%;
    height: 3.4375rem;
    padding-left: 2.1875rem;
    margin-top: 2.5rem;
    color: var(--input);
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 0.1125rem solid #D18E8D;
    outline: none;
}

form div:first-child input {
    margin-top: 2.5rem;
}

form input:focus {
    color: var(--input-focus);
    border: 0.1125rem solid var(--secondary-button);
    transition: all 0.5s;
}

form input:focus ~ i,
form input:focus ~ p{
    display: none;
}

.form-registration .button-form {
    position: relative;
    width: 89%;
    height: 3.4375rem;
    margin: 3.625rem auto;
    margin-bottom: 0.5rem;
    display: block;
    font-size: 0.9rem;
    color: #FAF8FF;
    font-weight:600;
    letter-spacing: 0.0313rem;
    text-transform: uppercase;
    background: var(--primary-button);
    border: 0.0313rem solid rgb(50, 177, 120);
    border-radius: 5px;
    box-shadow: 0px 0.1875rem 0px rgb(50, 177, 120);
    outline: none;
}

.form-registration .button-form:hover {
    font-weight:bold;
    letter-spacing: 0.0313rem;
    background: rgb(49, 173, 117);
    border: 0.0313rem solid rgb(43, 160, 107);
    box-shadow: 0px 0.1875rem 0px rgb(55, 195, 132);
    transition: all 2s;
    cursor: pointer;
}

.form-registration > p {
    text-align: center;
    margin: 0;
    font-size: 0.7rem;
    font-weight: 400;
    color: rgb(200, 199, 209);
}

p span {
    color: #ED858A;
    font-weight: bold;
}

/* Responsive Design with Media Query´s */

@media screen and (max-width: 1190px) {
    html, body{
        width: 100vw;
    }
    .wrapper {
        width: 100%;
        margin-top: 30px;
        min-height:950px;
        margin: 10px;
    }
    .header {
        width: 70%;
        height: 180px;
        text-align: center;
    }
    .header h1 {
        margin: 0;
        font: 0.8rem;
        text-align: center;
    }
    .header p {
        font-size: 1rem;
        margin-top: 0;
    }
    .registration {
        width: 70%;
    }
    form input {
        font-size: 0.9rem;
    }
    .area-error i {
        position: absolute;
        bottom: 18px;
        right: 70px;
    } 
    
    .area-error p {
        position: absolute;
        bottom: -17px;
        right: 53px;
    }
    .registration .button-discount {
        margin-bottom: 15px;
    }    
    .form-registration {
        align-items: center;
    }
    .form-registration > p {
        padding: 0 20px;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 940px) {
    .area-error i {
        position: absolute;
        bottom: 1.125rem;
        right: 4.5rem;
    } 

    .area-error p {
        position: absolute;
        bottom: -1.0625rem;
        right: 3.4rem;
    }
    form input {
        width: 74%;
    }
    .form-registration .button-form {
        position: relative;
        width: 82%;
    }
}


@media screen and (max-width: 700px) {
    .area-error i {
        position: absolute;
        bottom: 1.1rem;
        right: 5.3rem;
    } 

    .area-error p {
        position: absolute;
        bottom: -1.0625rem;
        right: 4.2rem;
    }
    .header {
        width: 85%;
        height: 250px;
        align-items: center;
    }
    .header h1 {
        font-size: 2rem;
        margin-bottom: 0.3125rem;
    }
    .registration {
        width: 85%;
    }
    .form-registration > p {
        padding: 0 2.5rem;
        font-size: 0.8rem;
    }
    .registration .button-discount,
    .registration span{
        font-size: 0.9rem;
    }
    .form-registration span {
        font-size: 0.6rem;
    }
    form input {
        width: 70%;
    }
    .form-registration .button-form {
        position: relative;
        width: 75%;
    }
}

@media screen and (max-width: 493px) {
    .header {
        width: 90%;
        height: 21.875rem;
    }
    .header h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .header p {
        margin-bottom: 1.25rem;
    }
    .registration {
        width: 90%;
    }
    .form-registration > p {
        padding: 0 2.5rem;
        font-size: 0.6rem;
    }
    form input {
        width: 65%;
        font-size: 0.8rem;
        padding-left: 1.2rem;
    }
    .form-registration .button-form {
        position: relative;
        width: 75%;
    }
    .registration .button-discount,
    .registration span{
        font-size: 0.9rem;
    }
    .form-registration span {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 400px) {
    .wrapper{
        margin: 0;
        width: 100vw;
    }
    .header {
        width: 90%;
        height: 17.5rem;
    }
    .header h1 {
        font-weight: 600;
    }
    .header p {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.05rem;
    }
    .registration .button-discount {
        height: 5.3125rem;
        padding: 0 2.5rem;
        line-height: 1.25rem;
        font-size: 0.9rem;
        font-weight: 100;
    }
    .form-registration .button-form {
        font-size: 0.9rem;
        font-weight: 400;
    }    
    form input {
        width: 55%;
    }
    .form-registration .button-form {
        position: relative;
        width: 65%;
    }
}



